@font-face {
	font-family:'Lorem';
	src:url('fonts/lorem/Lorem.eot');
	src:url('fonts/lorem/Lorem.eot?#iefix') format('embedded-opentype'),
		url('fonts/lorem/Lorem.woff') format('woff'),
		url('fonts/lorem/Lorem.ttf') format('truetype');
	font-weight:400;
	font-style:normal;
	font-stretch:normal;
}

@font-face {
	font-family:'Ipsum';
	src:url('fonts/ipsum/Ipsum.eot');
	src:url('fonts/ipsum/Ipsum.eot?#iefix') format('embedded-opentype'),
		url('fonts/ipsum/Ipsum.woff') format('woff'),
		url('fonts/ipsum/Ipsum.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}